{% extends "page.html" %}

{% block extra-head %}
<script type="text/javascript">
var profile = namespace.lookup("com.pageforest.auth.profile");
$(document).ready(profile.onReady);
</script>
{% endblock %}

{% block title %}Your Account{% endblock %}

{% block both-columns %}
<h2>Your {{SITE_NAME}} Account Information</h2>

{{ enablejs|safe }}
{{ httponly|safe }}

<form method="post" onsubmit="return signUp.onSubmit()">
<table>
{% for field in form %}
<tr>
<td>{{ field.label_tag }}:</td>
<td>{{ field }}</td>
<td class="form-message" id="validate_{{ field.html_name }}"><span class="error">{{ field.errors.0 }}</span></td>
</tr>
{% endfor %}
<tr><td></td><td><input type="submit" value="Update Account" disabled="disabled" /></td></tr>
</table>
</form>
{% endblock %}
