{% extends "page.html" %}

{% block title %}Sign In{% endblock %}

{% block extra-head %}
<style>
.have_app, .want_app, .have_user, .want_user { display: block; }

body.app .want_app, body:not(.app) .have_app,
body.user .want_user, body:not(.user) .have_user { display: none; }
</style>
<script type="text/javascript">
var signIn = namespace.lookup("com.pageforest.auth.sign-in");
$(document).ready(function() {
    var username = "{{ user.username }}";
    var appId = "{{ cross_app.get_app_id }}";
    signIn.onReady(username, appId);
});
</script>
{% endblock %}

{% block both-columns %}

<h2>
{% if user %}
    {{ user.username }}, you are signed in to {{ SITE_NAME }}
    <span style="display:none;" class="have_app">and {{ cross_app.title }} ({{ cross_app.get_app_id }})</span>
{% else %}
    Sign in to {{ SITE_NAME }}
    {% if cross_app %} and {{ cross_app.title }} ({{ cross_app.get_app_id }}){% endif %}
{% endif %}
</h2>

{% if cross_app %}
    <p class="want_app">The application, <b>{{ cross_app.title }} ({{ cross_app.get_app_id }})</b>,
      uses the {{ SITE_NAME }} web application service to store your data.
    </p>
    <p>
      If you would like to sign-in to <i>{{ cross_app.title }}</i>
      then {% if not user %}sign-in and {% endif %} <i>Allow Access</i>, below.
    </p>
    <p>
      By <i>Allowing Access</i>, you are permitting <i>{{ cross_app.title }}</i> to:
      <ul>
        <li>Access your {{ SITE_NAME }} user
          name{% if user %} (<i>{{ user.username }}</i>){% endif %}.</li>
        <li>Create, modify, and read documents in your {{ SITE_NAME }} account on your behalf.</li>
        {% ifequal cross_app.get_app_id "editor" %}
        <li>Create, modify, and read other application files that you are developing with {{ SITE_NAME }}.</li>
        {% else %}
        <li><i>Note that {{ cross_app.title }} will <b>not</b> have access to non-public
            documents created by any other {{ SITE_NAME }} application.</i></li>
        {% endifequal %}
      </ul>
    </p>
    <input class="have_app have_user" type="button" value="Allow Access"
             onclick="signIn.transferSession(signIn.closeForm)" />
{% endif %}

    <p class="error"></p>

    <form id="sign-in" class="want_user" method="post" onsubmit="return signIn.onSubmit()">
      <table>
        <tr>
          <td><label for="id_username">Username</label>:</td>
          <td><input id="id_username" type="text" class="focus" name="username" maxlength="30" /></td>
          <td class="form-message" id="validate_username"><span class="error"></span></td>
        </tr>

        <tr>
          <td><label for="id_password">Password</label>:</td>
          <td><input id="id_password" type="password" name="password" maxlength="40" /></td>
          <td class="form-message" id="validate_password"><span class="error"></span> </td>
        </tr>

        {% if cross_app %}
        <tr>
          <td><label for="id_appauth">{{ cross_app.get_app_id }}</label>:</td>
          <td><input type="checkbox" name="appauth" id="id_appauth" />&nbsp;<label for="id_appauth">Allow access</label></td>
        </tr>
        {% endif %}

        <tr><td></td>
          <td><input class="want_app" type="submit" value="Sign In"/></td>
          <td></td>
        </tr>

      </table>
    </form>

{% if user %}
    {% if not user.email_verified %}
        <p class="error">Check your email for an <a href="/email-verify">email verification</a> message.</p>
    {% endif %}
    <p><a href="/sign-out/" onclick="signIn.signOut();return false;">Sign Out</a></p>
{% else %}
    <p>Need to create account?  <a href="/sign-up">Join Now</a>.</p>
{% endif %}

{% endblock both-columns %}
