{% extends "page.html" %}

{% block title %}Sign In{% endblock %}

{% block extra-head %}
<style>
body.session .if-not-session, body:not(.session) .if-session { display: none; }
body.verified .if-not-verified { display: none; }

#sign-in-dialog {
  width: 600px;
}

#access-button {
  margin-left: 200px;
  font-size: inherit;
  font-family: inherit;
}
</style>

<script type="text/javascript">
var signIn = namespace.com.pageforest.auth.sign_in;
$(document).ready(function() {
    signIn.onReady("{{ cross_app.get_app_id }}", "{{ user.email_verified }}");
});
</script>

{% endblock %}

{% block page-content %}
<div id=double-column>
  <h2 class=if-user><span class="username"></span>, you are signed in to {{ SITE_NAME }}
    <span class=if-app>and {{ cross_app.title }} ({{ cross_app.get_app_id }})</span>
  </h2>
  <h2 class=if-not-user>Sign in to {{ SITE_NAME }}
    <span class=if-app> and {{ cross_app.title }} ({{ cross_app.get_app_id }})</span>
  </h2>

  <div class=if-app>
    <p>The application, <b>{{ cross_app.title }} ({{ cross_app.get_app_id }})</b>,
      uses the {{ SITE_NAME }} web application service to store your data.
    </p>
    <p>
      If you would like to sign-in to <i>{{ cross_app.title }}</i>
      then <span class=if-not-user>sign-in and</span> <i>Allow Access</i>, below.
    </p>
    <input id="access-button" class="if-session" type="button" value="Allow Access"
           onclick="signIn.transferSessionKey(signIn.closeForm)" />
  </div>

    <p class="error"></p>

    <div id="sign-in-dialog" class="if-not-user"></div>

    <div class=if-app>
      By <i>Allowing Access</i>, you are permitting <i>{{ cross_app.title }}</i> to:
      <ul>
        <li>Access your {{ SITE_NAME }} user
          name<span class=if-user> (<i><span class="username"></span></i>)</span>.</li>
        <li>Create, modify, and read documents in your {{ SITE_NAME }} account on your behalf.</li>
        {% ifequal cross_app.get_app_id "editor" %}
          <li>Create, modify, and read other application files that you are developing with {{ SITE_NAME }}.</li>
        {% else %}
        <li><i>Note that {{ cross_app.title }} will <b>not</b> have access to non-public
            documents created by any other {{ SITE_NAME }} application.</i></li>
        {% endifequal %}
      </ul>
    </div>

    <div class=if-user>
      <div class=if-not-verified>
        <p class="error">Check your email for an <a href="/email-verify">email verification</a> message.</p>
      </div>
      <div class=if-user>
        <a href="/sign-out/" onclick="signIn.signOut();return false;">Sign Out</a>
      </div>
    </div>

  <p class=if-not-user>Don't have a {{ SITE_NAME}} account?  <a href="/sign-up">Join Now</a>.</p>

</div>
{% endblock %}
