/* Begin file: main.css */
body {
    font-family: Verdana, Arial, san-serif;
    font-size: 110%;
    color: #4D2500;
    background-color: #C7A36E;
    margin: 0;
    padding: 0;
}

body.app .if-not-app, body:not(.app) .if-app { display: none; }
body.user .if-not-user, body:not(.user) .if-user { display: none; }

h1 { text-align: center; margin-top: 0px; font-size: 170%; }
h2 { clear: both; margin-top: 0px; padding-top: 10px; font-size: 130%}
h3 { clear: both; text-align: center; }

a { text-decoration: none; color: inherit; font-style: italic; }
a:hover { text-decoration: underline; color: #EAD0AA; }

/* https://developer.mozilla.org/en/css/box-shadow */
.floaty {
    box-shadow:8px 10px 10px #8F754F;
    -webkit-box-shadow:8px 10px 10px #8F754F;
    -moz-box-shadow:8px 10px 10px #8F754F;
}

p { line-height: 22px; }

div { margin: 0; padding: 0}

div.header { position: relative; height: 200px; background-color: #CCFBFF; }

div.middle { position: relative; margin: auto; height: 100%; width: 960px; }

#content {
    position: relative;
    width:100%;
    background:url(/static/images/nav/body-background.png) repeat-x top left scroll;
}

div.stem {
    position: relative;
    background: url(/static/images/nav/logo-stem.png) repeat-y left top scroll;
}

#double-column {
    /* This float prevents margin-collapse with its parent */
    float: left;
    margin: 20px 0 10px 110px;
    width: 100%;
}

#left-column {
    float: left;
    margin: 20px 0 10px 110px;
    padding-right: 10px;
    width: 610px;
    background: url(/static/images/nav/rule-vert.gif) repeat-y scroll top right;
}

#right-column {
    margin: 20px 0 10px 0;
    float: right;
    width: 220px;
}

div.footer {
    clear: both;
    width: 850px;
    margin: 0 0 30px 110px;
    padding-top: 10px;
    font-size: 14px;
    border-top: 1px solid #EBBD79;
}

img.favicon16 {
    width: 32px;
    height: 32px;
    vertical-align: -2px;
}

th, td { vertical-align: top; padding: 5px; }

table.bordered {
    border-collapse: collapse;
    border: 1px solid #36362E;
    margin: 0 0 8px 0;
}

table.bordered th {
    border: 1px solid #36362E;
    padding: 5px;
    text-style: bold;
    color: white;
    background-color: #69695A;
    text-align: center;
}

table.bordered th.long {
    text-align: left;
}

table.bordered td {
    border: 1px solid #36362E;
    padding: 5px;
    background-color: #F5F5DC;
    text-align: center;
}

table.bordered td.long {
    text-align: left;
}
/* Begin file: heading.css */
div.grass {
    position: absolute;
    width: 100%;
    height: 200px;
    background: url(/static/images/nav/grass.png) repeat-x left bottom;
}

div.bush {
    position: absolute;
    width: 80px;
    height: 200px;
    background: url(/static/images/nav/bush.png) no-repeat left bottom;
    cursor: pointer;
}

div.logo {
    position: absolute;
    top: 0;
    width: 450px;
    height: 200px;
    background: url(/static/images/nav/logo.png) no-repeat left bottom scroll;
    cursor: pointer;
}

div.flowers {
    position: absolute;
    right: 0;
    top: 120px;
    height: 80px;
    width: 60px;
    background: url(/static/images/nav/flowers.png) no-repeat right bottom scroll;
    cursor: pointer;
    zindex: -1;
}

div.tabs {
    position: absolute;
    left: 125px;
    top: 150px;
    height: 30px;
}
/* Begin file: top-bar.css */
div.topbar {
    font-size: 12px;
    float: right;
    width: 220px;
    height: 35px;
    color: #898989;
    font-weight: bold;
}

div.topbarLeft {
    float: left;
    width: 10px;
    margin: 0px;
}

div.topbarMid {
    float: left;
    margin: 0px;
}

div.topbarRight {
    float: left;
    width: 10px;
    margin: 0px;
}

div.topbarMid a {
    text-decoration: none;
    font-style: normal;
    line-height: 28px;
    margin: 5px;
    color: inherit;
}

div.topbarMid a:hover {
    text-decoration: underline;
    color: #FF7F00;
}
/* Begin file: tabs.css */
div.tabs .selected a {
    color: #2BA2D9;
}

div.tab {
    float: left;
    height: 30px;
    margin: 0px;
    color: #898989;
}

div.tabSelect {
    font-weight: bold;
}

div.tab a {
    text-decoration: none;
    font-style: normal;
    line-height: 31px;
    margin: 5px;
    font-weight: bold;
    color: #898989;
}

div.tab a:hover {
    text-decoration: underline;
    color: #FF7F00;
}
/* Begin file: home.css */
#home ul { font-size: 16px; line-height: 22px; }
#home li { padding-bottom: 5px; }

#home img { display: block; margin: auto; }
#home img.screen { float:right; height: 240px; margin-left: 10px;}

#home li img { margin:10px auto; }
#home div.video { margin:auto; width:480px; height:385px; }

#home h2 { text-align: center; }

div.sidebar {
    background-color: #DCD0C3;
    border-radius: 5px;
    margin-top: 20px;
    padding-bottom: 5px;
}

div.sidebar * { margin: 0; }

div.sidebar h3 {
    background-color: #A16A1A;
    color: #DCD0C3;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


div.call-to-action {
    background: url(/static/images/sidebar/planting.png) no-repeat scroll;
    width: 220px;
    height: 300px;
    cursor: pointer;
}

div.call-to-action p {
    text-align:center;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 15px;
}
/* Begin file: apps.css */
div.app-info { font-size: 75%; font-style: italic; }
.app-title { font-weight: bold; }
.app-id { font-style: italic; }

td.col2 { width: 300px; text-align: right; }

.note { font-size: 75%; font-style: italic; }
/* Begin file: dialog.css */
/* Div style dialogs */
div.sp-dialog-div * { font-size: inherit; }

div.sp-dialog-div label.left {
  display: block;
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
  width: 30%;
  margin: 1px 0 6px 0;
  padding-right: 5px;
}

div.sp-dialog-div label.checkbox, div.sp-dialog-div input[type=checkbox] { cursor: pointer; }

div.sp-dialog-div label.checkbox {
  display: block;
  clear: left;
  margin: 0 5px 6px 30%;
  padding: 0;
}

div.sp-dialog-div input[type=text],
div.sp-dialog-div input[type=password],
div.sp-dialog-div .value,
div.sp-dialog-div textarea {
  float: left;
  width: 65%;
  margin: 0 0 6px 0;
  padding: 0;
}

div.sp-dialog-div .message {
  text-align: center;
  font-style: italic;
  margin: 0 5px 6px 5px;
}

div.sp-dialog-div input[type=button] {
  clear: left;
  float: right;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

/* Table style dialogs */

div.sp-dialog-table table * { font-size: inherit; font-name: inherit; }
div.sp-dialog-table, div.sp-dialog-table table { width: 100%; }
div.sp-dialog-table th {
  text-align: right;
  font-weight: bold;
  vertical-align: top;
  padding-top: 8px;
}

div.sp-dialog-table td.error {
  color: yellow;
  width: 200px;
  font-style: italic;
  padding-top: 8px;
}

div.sp-dialog-table .message { text-align: center; font-style: italic; margin-left: 5px; }

div.sp-dialog-table input[type=text],
  div.sp-dialog-table input[type=password],
  div.sp-dialog-table textarea,
  div.sp-dialog-table .value { width: 100%; }

div.sp-dialog-table th { padding-left: 5px; }
div.sp-dialog-table td { padding-right: 5px; }

div.sp-dialog-table .value { padding: 4px 0; }

div.sp-dialog-table input[type=button] { float: right; cursor: pointer; }
/* Begin file: form.css */
.form-message {
font-style: italic;
}

.error {
color: #7E0F09;
}

.success {
color: #4A6427;
}
