div.app-info { font-size: 75%; font-style: italic; }
.app-title { font-weight: bold; }
.app-id { font-style: italic; }

td.col2 { width: 300px; text-align: right; }

.note { font-size: 75%; font-style: italic; }
