#home ul { font-size: 16px; line-height: 22px; }
#home li { padding-bottom: 5px; }

#home img { box-shadow:8px 10px 10px #8F754F; margin: auto; }
#home img.screen { float:right; height: 240px; margin-left: 10px;}

div.call-to-action {
    background: url(/static/images/sidebar/planting.png) no-repeat scroll;
    width: 220px;
    height: 300px;
    cursor: pointer;
    box-shadow:8px 10px 10px #8F754F
}

div.call-to-action p {
    text-align:center;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 15px;
}
