body {
    font-family: Verdana, Arial, san-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #C7A36E;
}

body.app .if-not-app, body:not(.app) .if-app { display: none; }
body.user .if-not-user, body:not(.user) .if-user { display: none; }

h1 { text-align: center; text-decoration: underline;}
h2 { padding-top: 5px; }

div.header { position: relative; height: 200px; background-color: #CCFBFF; }
div.middle { position: relative; margin: auto; height: 100%; width: 960px; }

div.body {
    position: relative;
    width:100%;
    background:url(/static/images/nav/body-background.png) repeat-x top left scroll;
}

div.stem {
    position: relative;
    background: url(/static/images/nav/logo-stem.png) repeat-y left top scroll;
}

#left-column {
    float: left;
    margin: 20px 0 10px 110px;
    padding-right: 10px;
    width: 610px;
    background: url(/static/images/nav/rule-vert.gif) repeat-y scroll top right;
}

#right-column {
    margin: 20px 0 10px 0;
    float: right;
    width: 220px;
}

div.footer {
    clear: both;
    width: 850px;
    margin: 0 0 30px 110px;
    padding-top: 10px;
    color: #898989;
    font-size: 14px;
    background: url(/static/images/nav/rule-horiz.gif) repeat-x top left scroll;
}

div.footer a { text-decoration: none; color: #898989; font-size: inherit; }
div.footer a:hover { text-decoration: underline; color: #FF7F00; }

div.call-to-action {
    background: url(/static/images/sidebar/planting.png) no-repeat scroll;
    width: 220px;
    height: 300px;
    cursor: pointer;
    box-shadow:8px 10px 10px #8F754F
}

div.call-to-action p {
    text-align:center;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 15px;
}

img.favicon16 {
    width: 16px;
    height: 16px;
    vertical-align: -2px;
}

