body {
    font-family: Verdana, Arial, san-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body.app .if-not-app, body:not(.app) .if-app { display: none; }
body.user .if-not-user, body:not(.user) .if-user { display: none; }

h1 { text-align: center; }
h2 { padding-top: 5px; }

div.heading { position: relative; height: 200px; }
div.middle { position: relative; margin: auto; height: 100%; width: 960px; }

div.footer { color: #898989; font-size: 11px; }
div.footer a { text-decoration: none; color: #898989; font-size: 11px; }
div.footer a:hover { text-decoration: underline; color: #FF7F00; }

div.call-to-action {
    background: url(../../images/sidebar/planting.png) no-repeat scroll;
    width: 220px;
    height: 300px;
}

div.call-to-action p {
    text-align:center;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 15px;
}

img.favicon16 {
    width: 16px;
    height: 16px;
    vertical-align: -2px;
}

