div.topbar {
    font-size: 12px;
    float: right;
    width: 220px;
    height: 35px;
    color: #898989;
    font-weight: bold;
}

div.topbarLeft {
    float: left;
    width: 10px;
    margin: 0px;
}

div.topbarMid {
    float: left;
    margin: 0px;
}

div.topbarRight {
    float: left;
    width: 10px;
    margin: 0px;
}

div.topbarMid a {
    text-decoration: none;
    font-style: normal;
    line-height: 28px;
    margin: 5px;
    color: inherit;
}

div.topbarMid a:hover {
    text-decoration: underline;
    color: #FF7F00;
}
