{% extends "base.html" %}

{% block jquery %}
<script type="text/javascript">
function success_callback(message, status, xhr) {
  $('#id_status').val(status);
  $('#id_value').val(message);
}

function error_callback(xhr, status, error) {
  $('#id_status').val(status);
}

function ajax_put() {
  $.ajax({
    type: "PUT",
    url: '/data/' + $("#id_key").val(),
    data: $("#id_value").val(),
    success: success_callback,
    error: error_callback,
  });
}

function ajax_get() {
  $.ajax({
    type: "GET",
    url: '/data/' + $("#id_key").val(),
    success: success_callback,
    error: error_callback,
  });
}
</script>
{% endblock %}

{% block title %}Data Demo{% endblock %}

{% block content %}
<h1>Data Demo</h1>

<table>
{{ demo_form }}
<tr>
<th></th>
<td>
<input type="button" onclick="ajax_put()" value="PUT" />
<input type="button" onclick="ajax_get()" value="GET" />
</td>
</tr>
</table>

<p id="status">Status</p>
{% endblock %}
