{% extends "base.html" %}

{% block jquery %}
<script type="text/javascript">
function success_callback(data) {
  $('#results').prepend('<div style="color:#080">' + data + '</div>');
}

function ajax(method) {
  var url = "http://pageforest2.appspot.com/data/" + $("#id_key").val();
  url += "?method=" + method;
  if (method == "PUT")
    url += "&value=" + $("#id_value").val();
  options = {
    dataType: "jsonp",
    url: url,
    success: success_callback,
  };
  $.ajax(options);
}

$(document).ready(function() { $("input.focus:last").focus(); });
</script>
{% endblock %}

{% block title %}JSONP API Demo{% endblock %}

{% block content %}
<h1>JSONP API Demo</h1>

<table>
{{ demo_form }}
<tr>
<th></th>
<td>
<input type="button" onclick="ajax('PUT')" value="PUT" />
<input type="button" onclick="ajax('GET')" value="GET" />
<input type="button" onclick="ajax('DELETE')" value="DELETE" />
<input type="button" onclick="ajax('HEAD')" value="HEAD" />
</td>
</tr>
</table>

<div id="results"></div>
{% endblock %}
