{% extends "base.html" %}

{% block jquery %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript">
function formatResult(xhr, status, message) {
  return xhr.status + ' ' + xhr.statusText + ' ' +
    status + ' ' + message + ' ' +
    xhr.getResponseHeader("X-Echo");
}

function successCallback(message, status, xhr) {
  $('#results').prepend('<div style="color:#080">' +
    formatResult(xhr, status, message) + '</div>');
}

function errorCallback(xhr, status, error) {
  $('#results').prepend('<div style="color:#800">' +
    formatResult(xhr, status, error) + '</div>');
}

function beforeSend(xhr) {
  xhr.setRequestHeader("X-Hello", "Good morning");
}

function ajax(method) {
  options = {
    type: method,
    url: '/data/' + $("#id_key").val(),
    beforeSend: beforeSend,
    success: successCallback,
    error: errorCallback,
  };
  if (method == "PUT") options.data = $("#id_value").val();
  $.ajax(options);
}

$(document).ready(function() { $("input.focus:last").focus(); });
</script>
{% endblock %}

{% block title %}REST API Demo{% endblock %}

{% block content %}
<h1>REST API Demo</h1>

<table>
{{ demo_form }}
<tr>
<th></th>
<td>
<input type="button" onclick="ajax('PUT')" value="PUT" />
<input type="button" onclick="ajax('GET')" value="GET" />
<input type="button" onclick="ajax('DELETE')" value="DELETE" />
<input type="button" onclick="ajax('HEAD')" value="HEAD" />
</td>
</tr>
</table>

<div id="results"></div>
{% endblock %}
