{% extends "base.html" %}

{% block jquery %}
<script type="text/javascript">
function format_result(xhr, status, message) {
  return xhr.status + ' ' + xhr.statusText + ' ' +
    status + ' ' + message;
}

function success_callback(message, status, xhr) {
  $('#results').prepend('<div style="color:#080">' +
	format_result(xhr, status, message) + '</div>');
}

function error_callback(xhr, status, error) {
  $('#results').prepend('<div style="color:#800">' +
	format_result(xhr, status, error) + '</div>');
}

function ajax(method) {
  options = {
    type: method,
    url: '/data/' + $("#id_key").val(),
    success: success_callback,
    error: error_callback,
  };
  if (method == "PUT") options.data = $("#id_value").val();
  $.ajax(options);
}

$(document).ready(function() { $("input.focus:last").focus(); });
</script>
{% endblock %}

{% block title %}REST API Demo{% endblock %}

{% block content %}
<h1>REST API Demo</h1>

<table>
{{ demo_form }}
<tr>
<th></th>
<td>
<input type="button" onclick="ajax('PUT')" value="PUT" />
<input type="button" onclick="ajax('GET')" value="GET" />
<input type="button" onclick="ajax('DELETE')" value="DELETE" />
<input type="button" onclick="ajax('HEAD')" value="HEAD" />
</td>
</tr>
</table>

<div id="results"></div>
{% endblock %}
