{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra-head %}
<meta name="viewport" content="width=480" />
<meta http-equiv="refresh" content="600" />
<style type="text/css">
body {
  background-color: black;
  color: #222;
  padding: 0;
  margin: 10px;
}
.center {
  width: 460px;
  text-align: center;
}
</style>
{% endblock %}


{% block content %}
<div><img src="{{ users_chart }}" /></div>
<div class="center" style="color:#00FF00">
<div style="float:left">{{ start_date }}</div>
<div style="float:right">{{ today_date }}</div>
New users per hour
</div>

<div><img src="{{ apps_chart }}" /></div>
<div class="center" style="color:#0080FF">
<div style="float:left">{{ start_date }}</div>
<div style="float:right">{{ today_date }}</div>
New apps per hour
</div>

<div><img src="{{ docs_chart }}" /></div>
<div class="center" style="color:#FFFF00">
<div style="float:left">{{ start_date }}</div>
<div style="float:right">{{ today_date }}</div>
New docs per hour
</div>

<div><img src="{{ blobs_chart }}" /></div>
<div class="center"  style="color:#FF0000">
<div style="float:left">{{ start_date }}</div>
<div style="float:right">{{ today_date }}</div>
New blobs per hour
</div>
</div>

<p>
{{ CURRENT_VERSION_ID }}<br />
{{ SERVER_SOFTWARE }}<br />
</p>
{% endblock content %}
