{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra-head %}
<style type="text/css">
body {
  background-color: black;
  color: white;
}
th { text-align: left; }
td.number { text-align: center; }
</style>
{% endblock %}


{% block content %}
<table>
<tr><th></th><th>24h</th><th>7d</th><th>30d</th></tr>
<tr>
<td>New users</td>
{% for n in user_joined %}<td class="number">{{ n }}</td>{%endfor%}
</tr>
<tr>
<td>New apps</td>
{% for n in app_created %}<td class="number">{{ n }}</td>{%endfor%}
</tr>
<tr>
<td>New documents</td>
{% for n in document_created %}<td class="number">{{ n }}</td>{%endfor%}
</tr>
<tr>
<td>KeyValue created</td>
{% for n in keyvalue_created %}<td class="number">{{ n }}</td>{%endfor%}
</tr>
<tr>
<td>KeyValue modified</td>
{% for n in keyvalue_modified %}<td class="number">{{ n }}</td>{%endfor%}
</tr>
</table>

<table>
<tr><th>Environment</th><th>Value</th></tr>
<tr><td>APPLICATION_ID</td><td>{{ APPLICATION_ID }}</td></tr>
<tr><td>CURRENT_VERSION_ID</td><td>{{ CURRENT_VERSION_ID }}</td></tr>
<tr><td>SERVER_SOFTWARE</td><td>{{ SERVER_SOFTWARE }}</td></tr>
<tr><td>AUTH_DOMAIN</td><td>{{ AUTH_DOMAIN }}</td></tr>
<tr><td></td><td></td></tr>
</table>
{% endblock content %}
