{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra-head %}
<meta name="viewport" content="width=480" />
<style type="text/css">
body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}
p {
  margin-top: 0;
}
</style>
{% endblock %}


{% block content %}
<p>
<img src="{{ users_chart }}" /><br />
<img src="{{ apps_chart }}" /><br />
<img src="{{ docs_chart }}" /><br />
<img src="{{ blobs_chart }}" />
</p>

<p>Version {{ CURRENT_VERSION_ID }} on {{ SERVER_SOFTWARE }}</p>
{% endblock content %}
