{% extends "page.html" %}
{% block left-column %}

<h1>Pageforest Mini-App Competition</h1>

<p>Do you know JavaScript?  Do you have an idea for a weekend project app that you have been wanting to write but haven’t gotten around to?  Have you already written a JavaScript app that you would like to turn into a full web application? Let us help you out with that!</p>

<p>Pageforest is a JavaScript application hosting service which allows you to write powerful client-side apps with user permissions and data saving.  Our simple api lets you call functions to save and restore JSON formatted user data, allowing you to focus on writing your program without the hassles of hosting and data storage.</p>

<p>We're holding a Mini-App contest (ending September 1, 2011), to entice developers like you to kick the tires of Pageforest.com and build some cool sample applications on our platform. </p>

<h1>Getting Started</h1>

<ol>
<li><strong>Create an account</strong> at pageforest.com.</li>
<li><strong>Create a new app</strong> (you can copy the <a href="http://scratch.pageforest.com/">scratch app</a> as a starting point).</li>
<li><strong>Make your app sing</strong>.</li>
<li><strong>Send your app name to us</strong> at contest@pageforest.com (deadline: September 1st, 2011).</li>
</ol>

<h1>Prizes</h1>

<ol>
<li><strong>(1) Best app - $100</strong>.</li>
<li><strong>(2) Runners up - $50</strong>.</li>
<li><strong>(20) All qualifying apps will receive $20</strong>.  Pageforest reserves the right to limit payouts to qualifying app developers to the first 20 qualifiers.</li>
</ol>

<p>Prizes can be paid via PayPal (transferred to your registered Pageforest email address), Amazon gift certificate, or we can mail you a check if you send us your mailing address (your preference).
If you would prefer, we can also pay you in Bitcoins, at the mtgox exchange value at time of winning.</p>

<h1>Rules</h1>

<p>To qualify to receive $20 and possibly win the larger prizes:</p>

<ol>
<li><strong>Entries must be subitted to contest@pageforest.com by September 1, 2011</strong>.</li>
<li><strong>One $20 Qualification per person</strong>.  Multiple applications can be submitted per person, but only one qualifying $20 will be awarded per person.  </li>
<li><strong>Your application must be unique</strong>.  Copying someone else’s application and making only trivial changes will not qualify.</li>
<li><strong>Users must be able to save a meaningful document</strong>.  The saved data should reflect how the user has interacted with your app, and be data that the user reasonably might want to retrieve.</li>
<li><strong>Your app should be “non-trivially useful.”</strong>  It must do something that you can reasonably argue someone else would want to use or see.  An application which has a button which toggles the background color from black to white and saves it does not have a clear purpose.  An application which lets you select multiple colors on the same page and save them as a potential color scheme when designing a website could be a good app. </li>
<li><strong>10 Unique Users must save documents</strong>.  One can be you.  These can be your friends, but we would love if your app was useful enough that people who didn’t know you would also like to use it.  If you have to make multiple accounts for testing, let us know to exclude them from this data. Qualifying applications and prize winners will be scrutinized and fraudulent or suspicious saves could disqualify your app. </li>
<li><strong>Not spam or illegal</strong>.  We don’t want apps selling porn or crack.</li>
<li><strong>Open Source</strong>.  Our platform is all open source right now.  We want others to be able to see and make copies of your app to play with themselves.  By entering this contest, you give Pageforest the right to make your application source code available to other Pageforest users, as well as publish it using an open source license of your choosing.  Prize winning apps may be featured on the Pageforest website (with credit of course).</li>
<li><strong>Previously written apps are OK!</strong>  As long as they meet all of the above criteria, you can submit your previously written JavaScript applications after incorporating Pageforest’s user save functionality.</li>
</ol>

<p>All qualified applicants will receive $20, and be eligible to win one of the the top two awards as judged by the Pageforest team:</p>

<ol>
<li><strong>Number of unique users</strong> have used your application and saved documents.  Objective data is the best kind of data.  If you have a functional app that has legitimately gotten twice as much use as the next competitor, you will almost certainly win the grand prize.</li>
<li><strong>Polish and Cool Factor</strong>.  How pretty/cool/interesting is your application?  Have you made something noteworthy that we will want to mention around the water cooler? </li>
<li><strong>Buzz</strong>.  Is your app Hacker-News worthy?  Are all your followers talking about it on Twitter?  Let us know if you’ve gotten some attention in the web for your app, and we’ll give you a higher score.</li>
</ol>

<p>Pageforest is a new development platform.  It is fully functional, but there may be some features that are still confusing to new developers.  If you have any troubles or confusion, please let us know: email support@pageforest.com.  Asking for help will not harm your chances of winning in any way. </p>
{% endblock left-column %}
