{% extends "page.html" %}
{% block full-title %}{{ SITE_NAME }} - Saving the web - One page at a time{% endblock %}
{% block left-column %}
<div id="home">
  <h1>
    Cloud storage for your JavaScript applications.
  </h1>

  <img class="homeScreenRight" src="{{MEDIA_URL}}images/home/callout-blank.png" />
  <div class="homeCopy Left">
    <h2>Storage in the cloud.</h2>
    <p>
      Use the {{ SITE_NAME}} AJAX/REST API to save application data to our
      hosted service. Each user is given a generous free-quota for data
      storage with premium and enterprise packages available.
    </p>
  </div>

  <img class="homeScreenLeft" src="{{MEDIA_URL}}images/home/callout-blank.png" />
  <div class="homeCopy Right">
    <h2>Secure data access.</h2>
    <p>
      {{ SITE_NAME }} puts users in charge of their data, letting them
      grant and revoke read/write priveleges using the {{ SITE_NAME }}
      Document Manager.
    </p>
  </div>

  <img class="homeScreenRight" src="{{MEDIA_URL}}images/home/callout-blank.png" />
  <div class="homeCopy Left">
    <h2>Application hosting.</h2>
    <p>
      {{ SITE_NAME }} offers free hosting. Each application is hosted
      on its own domain.  Build rich JavaScript-based applications
      without having to manage or maintain your own web server.
    </p>
  </div>

  <img class="homeScreenLeft" src="{{MEDIA_URL}}images/home/callout-blank.png" />
  <div class="homeCopy Right">
    <h2>Open source, open development.</h2>
    <p>
      We're committed to building {{ SITE_NAME}} for the benefit of a wide
      range of developers and users; from hobbiests to proffessional web
      development teams. {{ SITE_NAME }} is
      an <a href="http://pageforest.googlecode.com">open source</a> project
      with an open development process and unrestrictive licensing. We
      welcome feedback and feature requests directly from our users and
      developers.
    </p>
  </div>

  <img class="homeScreenRight" src="{{MEDIA_URL}}images/home/callout-blank.png" />
  <div class="homeCopy Left">
    <h2>Custom solutions.</h2>
    <p>
      If you'd like help in building your application on the {{ SITE_NAME }}
      platform, <a href="mailto:support@pageforest.com">email us</a>. We
      offer both free and paid support options, and can help you get your
      project off the ground with lower startup and ongoing maintenance
      costs than traditional web application development.
    </p>
  </div>

</div> <!-- home -->
{% endblock %}

{% block right-column %}
<div class="CallToAction" onclick="location='http://scratch.pageforest.com';return false;">
  <p>Build an App in 5 minutes</p>
</div>
{% endblock %}
