{% extends "base.html" %}
{% block content %}
<div class=header>
  <div class=grass></div>
  <div class=bush onclick="window.location = 'http://blog.pageforest.com/';"></div>

  <div class="middle">
    <div class=logo onclick="window.location = '/';"></div>
    <div class=flowers onclick="window.location = 'http://code.google.com/p/pageforest/';"></div>

    <div class=topbar>
      <div class=topbarMid>
        <span class=if-user>
          Welcome, <a href="/account/"><span class=username>{{ user }}</span></a> |
          <a href="/sign-out/">Sign out</a>
        </span>
        <span class=if-not-user>
          <a href="/sign-in/">Sign in</a> |
          <a href="/sign-up/">Join now</a>
        </span>
      </div>
    </div>

    <div class=tabs>
      <!-- Folder Tabs -->
      <div id=home-tab class=tab><a href="/">Home</a>|</div>
      <div id=apps-tab class=tab><a href="/apps/">Featured Apps</a>|</div>
      <div id=docs-tab class=tab><a href="/docs/">My Documents</a>|</div>
      <div id=api-tab class=tab>
        <a target="_blank" href="http://wiki.pageforest.com/#pageforest-api">Pageforest API</a>
      </div>
    </div>

  </div>
</div>

<div id=content>
  <div class="middle stem">
    {% block page-content %}{% endblock %}

    {% block footer %}
    <div class="footer">
      <a href="http://blog.pageforest.com">Blog</a> |
      <a href="http://code.google.com/p/pageforest/">Open Source Project</a> |
      <a href="http://www.{{ request.base_hostname }}/terms-of-service">Terms of Service</a> | &copy; {{SITE_NAME}} |
         site design by <a href="http://www.moreplusone.com/">MORE+1</a>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
