{% extends "base.html" %}
{% block content %}
<div class=header>
  <div class=grass></div>
  <div class=bush onclick="window.location = 'http://blog.pageforest.com/';"></div>

  <div class="middle">
    <div class=logo onclick="window.location = '/';"></div>
    <div class=flowers onclick="window.location = 'http://code.google.com/p/pageforest/';"></div>

    <div class=topbar>
      <div class=topbarMid>
        <span class=if-user>
          Welcome, <a href="/account/"><span class=username>{{ user }}</span></a> |
          <a href="http://{{ WWW_DOMAIN }}/sign-out/">Sign out</a>
        </span>
        <span class=if-not-user>
          <a href="http://{{ WWW_DOMAIN }}/sign-in/">Sign in</a> |
          <a href="http://{{ WWW_DOMAIN }}/sign-up/">Join now</a>
        </span>
      </div>
    </div>

    <div class=folders>
      <!-- Folder Tabs -->
      <div class="tab selected"><a href="http://{{ WWW_DOMAIN }}/">Home</a>|</div>
      <div class=tab><a href="http://{{ WWW_DOMAIN }}/apps/">Apps</a>|</div>
      <div class=tab><a href="http://{{ WWW_DOMAIN }}/docs/">Docs</a></div>
    </div>

  </div> <!-- middle -->
</div> <!-- head -->

<div class="body">
  <div class="middle stem">
    {% block both-columns %}
    <div id="left-column">
      {% block left-column %}{% endblock %}
    </div>

    <div id="right-column">
      {% block right-column %}{% endblock %}
    </div>
    {% endblock %}

    <div class="footer middle stem">
      <a href="http://blog.pageforest.com">Blog</a> |
      <a href="http://code.google.com/p/pageforest/">Open Source Project</a> |
      <a href="/terms-of-service">Terms of Service</a> | &copy; {{SITE_NAME}} |
         site design by <a href="http://www.moreplusone.com/">MORE+1</a>
    </div>
  </div>
</div>
{% endblock %}
