body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

img {
  border: none;
  vertical-align: middle;
}

input, select {
  height: 23px;
}

h2 {
  margin: 0 0 5px;
  font-size: 18px;
}

iframe {
  z-index: 0;
}
div.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #222;
}
div.fixed span { color: #fff; }
div.fixed a { color: #ccc; text-decoration: none; }
div.fixed a:hover { color: #fff }

div.opaque { 
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

div#left, div#center, div#right {
  z-index: 10;
  padding: 10px;
}

div#left {
  float: left;
  text-align: left;
}

div#center {
  text-align: center;
}

div#right {
  float: right;
  text-align: right;
}

div#content, div#ace, div#textarea {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 43px;
  bottom: 0;
}
div#content {  }
div#ace {  }
div#textarea { left: 5px; right: 15px; }
div#content.on-top { z-index: 100; }

div.icon {
  float: left;
  width: 140px;
  height: 100px;
  margin: 20px 0;
  text-align: center;
}

div.icon img {
  margin: 0 0 10px;
}

textarea {
  font-family: "Monaco", "Andale Mono", "Courier New", Courier, monospace;
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

div.dialog {
  position: fixed;
  top: 33px;
  z-index: 100;
  margin: 10px;
  padding: 10px;
  background: #222;
}

div#open {
  left: 0;
  width: 30%;
}

div#settings { right: 10px; width: 240px; color: #fff; }
div#settings label { color: #fff; font-size: 16px; }
.form-field * { vertical-align: middle; }

div#apps { float: left; margin-right: 10px; }
.quiet { color: #ccc; }
.error { color: red; }
