body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  background: #ddd;
}

img {
  border: 0;
}

div#buttons,
div#navigator,
div#status,
div#editor {
  position: absolute;
}

div#navigator,
div#status {
  width: 240px;
  background: white;
  overflow: auto;
  padding: 5px;
}

div#buttons {
  width: 250px;
  text-align: right;
  padding: 5px 0;
}

div#navigator {
  top: 30px;
  bottom: 120px;
}

div#status {
  height: 100px;
  bottom: 0;
}

div#editor {
  left: 260px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 0 0 5px;
}

input[type="text"] {
  font-size: 24px;
  width: 800px;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  margin: 0;
  padding: 0 5px 0 0;
}

.quiet {
  color: #ccc;
}

.right {
  text-align: right;
}

div#editor textarea {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  background: white;
}
