# Styles used only on the home page
#home {
    color: #8C6239;
    font-size: 14px;
}

#home p {
    line-height: 19px;
    margin: 5px 0 5px 0;
}

#home h1 {
    font-size: 24px;
    color: #4D2500;
    line-height: 30px;
    font-weight: normal;
    margin: 0;
    position: relative;
    top: -4px;
}

#home h2 {
    font-size: 16px;
    font-weight: bold;
    color: #4D2500;
    margin: 0;
}

#home div.homeCopy {
    font-size:14px;
    width:340px;
}

#home div.Left {
    float:left;
}

#home div.Right {
    float: right;
}

#home a {
    text-decoration: none;
    color: #598527;
    font-weight: bold;
    font-size: 12px;
}

#home a:hover {
    text-decoration: underline;
    color: #FF7F00;
    font-weight: bold;
}

img.homeScreenLeft {
    float:left;
    margin-right: 15px;
}

img.homeScreenRight {
    float:right;
    margin-left:15px;
}