{% extends "page.html" %}
{% load readable %}

{% block title %}{{ app.title }}{% endblock %}

{% block page-content %}
<div id=double-column>
  <h1>
    {% if app.icon %}
      <img src="{{ app.get_app_url }}{{ app.icon }}" class="favicon16" alt=""/>
    {% else %}
      <img src="/static/images/icon.png" class="favicon16" alt=""/>
    {% endif %}
    <a class="app-title" href="{{ app.get_app_url }}">{{ app.title }}</a>
    <a class="app-id" href="{{ app.get_app_url }}">({{ app.get_app_id }})</a>
    <a href="http://editor.pageforest.com/#{{ app.get_app_id }}">
      <img src="/static/images/pencil.png"/></a>

  </h1>

<table><tr><td>
  URL: <a href="{{ app.get_app_url }}">{{ app.get_app_url }}</a>
  <br/>by <a href="/apps/?writer={{ app.owner }}">{{ app.owner }}</a>
  {% if app.writers %}
  ( with {% for username in app.writers %}
    {% ifnotequal username user.username %}
    <a href="/apps?writer={{ username }}">{{ username }}</a>{% if not forloop.last %},{% endif %}
    {% endifnotequal %}
   {% endfor %} )
  {% endif %}

  {% if app.tags %}
  <br/>Tags:
  {% for tag in app.tags %}
  <a href="/apps/?tag={{ tag }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
  {% endfor %}
  {% endif %}
  </td>
<td class="col2">
  <div>Created: {{ app.created|ago }}</div>
  <div>Updated: {{ app.modified|ago }}</div>
</td>
</tr></table>

<h2>{{ app.title }} files:</h2>

  {% if static_blobs %}
  <ol>{% for blob in static_blobs %}
    <li><a href="{{ app.get_app_url }}{{ blob }}">{{ blob }}</a></li>{% endfor %}
  </ol>
  {% endif %}

<p>Browse the application's files using the
  <b><a href="http://editor.pageforest.com/#{{ app.get_app_id }}">Pageforest Application Editor</a></b>.</p>

{% if app.cloneable and user %}
<p><b><a href="{{ app.get_details_url }}clone/">Clone this app!</a></b></p>
{% endif %}

</div>
{% endblock %}
