{% extends "page.html" %}

{% block title %}{{ app.title }}{% endblock %}

{% block both-columns %}
<h1>{{ app.title }}</h1>

<p><img src="http://{{ app.get_app_id }}.pageforest.com/favicon.png"
class="favicon16" alt="" />
<a href="{{ app.get_absolute_url }}">{{ app.get_absolute_url }}</a></p>

<p>Tags:{% for tag in app.tags %}
<a href="/apps/?tag={{ tag }}">{{ tag }}</a>{% endfor %}</p>

<p>Authors:{% for username in app.writers %}
<a href="/apps/?writer={{ username }}">{{ username }}</a>{% endfor %}</p>

<p>Users:{% for username in app.readers %} {{ username }}{% endfor %}</p>
{% endblock %}
